body{
  font-family: 'Satoshi', sans-serif;
}
.body-modification {
  
}

a {
  text-decoration: none;
  color : #95B9C7;
}

a:hover {
  text-decoration: none;
  color: white;
}

.top {
  background-color: #343f56;
  padding: 1rem 10%;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}

.heading{
  font-size: 4rem;
  font-weight: 500;
}
.heading a{
  color: #fff;
}

.top-pic{
  margin: 20px;
  float: right;
  height: 100px;
  width: 100px;
  position: relative;
}

.main-text{

}

.save-file-btn{
  background-color: #343f56;
}

.files{

}

.delete-file-btn{
  font-size: larger;
  float: right;
}

.card-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bottom{
  background-color: #151B54;
  height: 20px;
}

.bottom-text{
  margin: auto;
}

.dropdown button {
  float: right;
  background-color: #343f56;
}