body{
  font-family: 'Satoshi', sans-serif;
}
.body-modification {
  
}

a {
  text-decoration: none;
  color : #95B9C7;
}

a:hover {
  text-decoration: none;
  color: white;
}

.top {
  background-color: #343f56;
  padding: 1rem 10%;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}

.heading{
  font-size: 4rem;
  font-weight: 500;
}
.heading a{
  color: #fff;
}
.sub-head{
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}

.top-pic{
  margin: 20px;
  float: right;
  height: 100px;
  width: 100px;
  position: relative;
}

.save-file-btn{
  background-color: #343f56;
  color: white;
}


.delete-file-btn{
  font-size: larger;
  float: right;
}

.card-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bottom{
  background-color: #151B54;
  height: 20px;
}

.bottom-text{
  margin: auto;
}

.dropdown button {
  float: right;
  background-color: #343f56;
}

/*Login Sign up forms*/
.btn-link{
  text-decoration: none;
}
.btn-link:hover{
  text-decoration: underline;
}

.form-control-l{
  width: 500px;
  max-width: 100%;
  margin: 1rem auto;
  float: none;
}
.submit{
  min-width: 100px;
}

/*Media queries*/
@media (max-width: 576px) {
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
}